<ul class="menu rounded-box mb-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <table class="xl:table-auto lg:table-xs w-full my-2">
        <thead class="xl:text-base lg:text-sm">
          <tr>
            <th>Avulso</th>
            <th>Com parceria</th>
            <th>Em dinheiro</th>
            <th>Em bancos</th>
            <th>Parceria total</th>
            <th>Faturamento</th>
          </tr>
        </thead>

        <tbody>
          <tr class="bg-gray-200 border-t border-b border-black">
            <td>
              <%= number_to_currency(((total_revenue.amount_received) - with_partnership.sum(&:total_requests)) || 0) %>
            </td>

            <td><%= number_to_currency(with_partnership.sum(&:total_requests) || 0) %></td>
            <td><%= number_to_currency(with_partnership.sum(&:branch_partnership)) %></td>
            <td><%= number_to_currency(with_partnership.sum(&:total_discounts)) %></td>

            <td>
              <%= number_to_currency(with_partnership.sum(&:branch_partnership) + with_partnership.sum(&:total_discounts)) %>
              (-)
            </td>

            <td><%= number_to_currency(total_revenue.billing - loose.total_discounts) %></td>
          </tr>
        </tbody>
      </table>
    </ul>
  </li>
</ul>
