<ul class="menu rounded-box mb-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <div class="overflow-auto my-2">
        <table class="table w-full my-5">
          <thead class="text-base">
            <th>Representante</th>
            <th>Quantidade</th>
            <th>Venda</th>
            <th>Comissão</th>
            <th>Total</th>
          </thead>

          <tbody>
            <% @representatives.each do |id, m| %>
              <tr class="bg-gray-200 border-t border-b border-black">
                <td><%= m&.first&.representative_name || "Sem Representante" %></td>
                <td><%= m&.first&.number_of_requests  || 0 %></td>
                <td><%= number_to_currency(m&.first&.total_requests || 0) %></td>
                <td><%= formatted_percentage(m&.first&.commission || 0) %></td>

                <td>
                  <%= number_to_currency((m&.first&.total_requests || 0) * (m&.first&.commission || 0) / 100.0) %>
                </td>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <thead>
              <tr>
                <th class="pt-7"></th>
              </tr>
            </thead>

            <tbody>
              <tr class="bg-gray-200 border-t border-b border-black">
                <td class="font-semibold text-base">Totais</td>
                <td><%= @total_number_of_requests %></td>
                <td colspan="2"><%= number_to_currency(@total_with_partnership) %></td>

                <td>
                  <%= number_to_currency(@commission_payments_transfers) %>
                </td>
              </tr>
            </tbody>
          </tfoot>
        </table>
      </div>
    </ul>
  </li>
</ul>
