<ul class="menu rounded-box mb-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <table class="xl:table-auto lg:table-xs w-full my-5">
        <thead class="xl:text-base lg:text-sm">
          <th>Representante</th>
          <th>Quantidade</th>
          <th>Venda</th>
          <th>Comissão</th>
          <th>Total</th>
        </thead>

        <tbody>
          <% with_partnership.each do |w_partnership| %>
            <tr class="bg-gray-200 border-t border-b border-black">
              <td><%= w_partnership.representative_name %></td>
              <td><%= w_partnership.number_of_requests || 0 %></td>
              <td><%= number_to_currency(w_partnership.total_requests || 0) %></td>
              <td><%= formatted_percentage(w_partnership.commission || 0) %></td>
              <td><%= number_to_currency(w_partnership.commission_payments_transfers || 0) %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <thead>
            <tr><th class="pt-7"></th></tr>
          </thead>

          <tbody>
            <tr class="bg-gray-200 border-t border-b border-black">
              <td class="xl:text-base lg:text-sm font-semibold">Totais</td>
              <td><%= with_partnership.sum(&:number_of_requests) || 0 %></td>
              <td colspan="2"><%= number_to_currency(with_partnership.sum(&:total_requests) || 0) %></td>
              <td><%= number_to_currency(with_partnership.sum(&:commission_payments_transfers) || 0) %></td>
            </tr>
          </tbody>
        </tfoot>
      </table>
    </ul>
  </li>
</ul>
