<ul class="menu rounded-box mb-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <table class="xl:table-auto lg:table-xs w-full my-2">
        <thead class="xl:text-base lg:text-sm">
          <tr>
            <th>Quantidade de Receitas</th>
            <th>Valor médio da Receita</th>
            <th>Total de Descontos</th>
            <th>Total de Taxas</th>
            <th>Total de Pedidos</th>
          </tr>
        </thead>

        <tbody>
          <tr class="bg-gray-200 border-t border-b border-black">
            <td><%= loose&.quantity %></td>
            <td><%= number_to_currency(loose&.adjusted_revenue_value) %></td>
            <td><%= number_to_currency(loose&.total_discounts) %></td>
            <td><%= number_to_currency(loose&.total_fees) %></td>
            <td><%= number_to_currency(loose&.total_orders) %></td>
          </tr>
        </tbody>
      </table>
    </ul>
  </li>
</ul>
