<div class="flex justify-between items-center my-3">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de filiais</h1>
</div>

<div class="flex w-full flex-col my-12">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold text-left">
      <thead class="text-base">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Número</th>
          <th>Repetições</th>
          <th>Ações</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @branches.each_with_index do |branch, index| %>
          <tr class="border-t border-black <%= index % 2 == 0 ? "bg-gray-200" : "bg-gray-100" %>">
            <td><%= branch.id %></td>
            <td><%= branch.name %></td>
            <td><%= branch.branch_number %></td>
            <td><%= formatted_percentage(branch.discount_request) %></td>

            <td class="flex justify-center items-center gap-2 h-12">
              <button onclick="document.getElementById('edit_branch<%= branch.id %>').showModal();" title="Editar" class="p-2 rounded-full">
                <span class="material-symbols-outlined text-primary">edit</span>
              </button>

              <dialog id="edit_branch<%= branch.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("form", branch: branch, title: "Editar Filial : #{branch.id}", btn_save: "Atualizar")) %>
              </dialog>

              <button onclick="document.getElementById('account_balance_branch<%= branch.id %>').showModal();" title="Adicionar nova Conta Corrente">
                <span class="material-symbols-outlined text-primary">account_balance</span>
              </button>

              <dialog id="account_balance_branch<%= branch.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("current_accounts/form", representative: branch, current_account: @current_account, representatives: @branches_map, title: "Criar Nova Conta Corrente", btn_save: "Salvar", route: "branch")) %>
              </dialog>
            </td>

            <td class="cursor-pointer" data-controller="toggle" data-action="click->toggle#tableTr" data-tr-id="branch_tr_hidden_<%= index %>">
              <details class="collapse collapse-arrow -top-1 h-12">
                <summary class="collapse-title font-semibold"></summary>
              </details>
            </td>
          </tr>

          <tr class="hidden bg-white" id="branch_tr_hidden_<%= index %>">
            <%= render "current_accounts", branch: branch, branches: @branches_map, index: index %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
