<div class="mb-20">
  <% @branches.each do |name, id, branch_number| %>  
    <section class="flex flex-col p-5">
      <div class="card shadow-lg border border-primary p-5">
        <label class="text-lg">
          <span class="text-primary"><%= name.upcase %> - </span>
          <span class="text-primary"><%= @closing %></span>
        </label>

        <%= render "total_orders", loose: @loose[id] if @loose.present? %>
        <%= render "billings", branch_number: branch_number, total_revenue: @total_revenue[id], with_partnership: @with_partnership[name] if @with_partnership.present? %>
        <%= render "full_partnership", with_partnership: @with_partnership[name] %>
        <%= render "other_informations", with_partnership: @with_partnership[name] %>
        <%= render "commission_payments", with_partnership: @with_partnership[name] %>
      </div>
    </section>
  <% end %>
</div>
