<div class="mb-20">
  <%= render "sub_actions", title: "Imprime todas as lojas", kind: "print_all_stores" %>

  <% @branches.each do |name, branch_number, id| %>  
    <section class="flex flex-col p-5">
      <div class="card shadow-lg border border-primary p-5">
        <label class="xl:text-lg lg:text-base">
          <span class="text-primary"><%= name.upcase %> - </span>
          <span class="text-primary"><%= @current_closing.closing %></span>
        </label>

        <%= render "total_orders", loose: @loose[id] if @loose.present? %>
        <%= render "billings", loose: @loose[id], branch_number: branch_number, total_revenue: @total_revenue[id], with_partnership: @with_partnership[name] if @loose.present? && @with_partnership.present? %>
        <%= render "other_informations", with_partnership: @with_partnership[name] if @with_partnership[name].present? %>
        <%= render "commission_payments", with_partnership: @with_partnership[name] if @with_partnership[name].present? %>
      </div>
    </section>
  <% end %>
</div>
