<div class="mb-20">
  <div class="grid grid-cols-12 mx-10 my-7">
    <div class="col-start-1 col-end-11">
      <h1 class="text-2xl font-bold text-primary text-center">Imprime todas as lojas</h1>
    </div>

    <div class="col-start-12">
      <%= render ButtonLinkComponent.new(label: "Gerar PDF", url: download_pdf_closings_path(kind: "print_all_stores")) %>
    </div>
  </div>

  <% @branches.each do |name, branch_number, id| %>  
    <section class="flex flex-col p-5">
      <div class="card shadow-lg border border-primary p-5">
        <label class="text-lg">
          <span class="text-primary"><%= name.upcase %> - </span>
          <span class="text-primary"><%= @closing %></span>
        </label>

        <%= render "total_orders", loose: @loose[id] if @loose.present? %>
        <%= render "billings", branch_number: branch_number, total_revenue: @total_revenue[id], with_partnership: @with_partnership[name] if @with_partnership.present? %>
        <%= render "full_partnership", with_partnership: @with_partnership[name] if @with_partnership[name].present? %>
        <%= render "other_informations", with_partnership: @with_partnership[name] if @with_partnership[name].present? %>
        <%= render "commission_payments", with_partnership: @with_partnership[name] if @with_partnership[name].present? %>
      </div>
    </section>
  <% end %>
</div>
