<div class="flex mt-3 px-5">
  <div class="grid grid-cols-12 items-center">
    <div class="col-start-1 col-end-5">
      <h1 class="text-2xl text-center text-primary mx-auto"><%= title %></h1>
    </div>

    <div class="<%= controller.action_name == "index" ? "col-start-9 col-end-13" : "col-start-6 col-end-10" %>">
      <fieldset class="fieldset border border-primary p-2 rounded-box">
        <legend class="fieldset-legend text-primary">Com os itens ativos ...</legend>

        <div class="join border border-primary join-item rounded-r-full">
          <%= form_with url: select_representatives_path, method: :get, local: true do |form| %>
            <%= form.select :select_action, options_for_select(@select), {}, class: 'select' %>
            <%= form.submit 'Ok', class: 'btn btn-primary join-item' %>
          <% end %>
        </div>
      </fieldset>
    </div>

    <% if controller.action_name != "index" %>
      <div class="col-start-11">
        <%= link_to "Baixar PDF", download_select_pdf_representatives_path(kind: title),
            target: "_blank", class: "btn btn-primary w-36"
        %>
      </div>
    <% end %>
  </div>
</div>
