<div class="flex items-center m-5">
  <div class="w-2/4">
    <h1 class="xl:text-2xl text-xl text-center text-primary mx-auto"><%= title %></h1>
  </div>

  <div class="<%= controller.action_name == "index" ? "w-5/12" : "w-2/4 xl:w-[45%]" %>">
    <fieldset class="fieldset border border-primary p-2 rounded-box">
      <legend class="fieldset-legend text-primary">Com os itens ativos ...</legend>

      <div class="join border border-primary join-item rounded-r-full">
        <%= form_with url: select_representatives_path, method: :get, local: true do |form| %>
          <%= form.select :select_action, options_for_select(@select), {}, class: 'select' %>
          <%= form.submit 'Ok', class: 'btn btn-primary join-item' %>
        <% end %>
      </div>
    </fieldset>
  </div>

  <% if controller.action_name != "index" %>
    <div class="mx-5">
      <%= link_to "Baixar PDF", download_select_pdf_representatives_path(kind: title),
          target: "_blank", class: "btn btn-primary w-28"
      %>
    </div>
  <% end %>
</div>
