<div class="navbar bg-gray-200 shadow-sm border-b border-gray-300">
  <div class="navbar-start">
    <h1 class="xl:text-2xl lg:text-base text-center text-primary"><%= title %></h1>
  </div>

  <div class="navbar-center">
    <%= form_with url: representatives_path, method: :get do |f| %>
      <div class="flex">
        <label class="join input input-bordered xl:w-96 lg:w-72 rounded-full items-center">
          <span class="material-symbols-outlined mr-2">search</span>

          <%= f.text_field :query, value: params[:query], placeholder: "Buscar" %>
        </label>

        <%= f.submit "OK", class: "btn btn-primary rounded-r-full -ml-14" %>
      </div>

      <span class="xl:text-sm lg:text-xs font-bold xl:mx-5">
        Procure por:
        <span class="text-primary">ID ou Representante</span>
      </span>
    <% end %>
  </div>

  <div class="navbar-end lg:ml-7">
    <fieldset class="fieldset border border-primary p-2 rounded-box">
      <legend class="fieldset-legend text-primary">Com os itens ativos ...</legend>

      <div class="join border border-primary join-item rounded-r-full">
        <%= form_with url: select_representatives_path, method: :get, local: true do |form| %>
          <%= form.select :select_action, options_for_select(@select), {}, class: 'select xl:w-80 lg:w-44' %>
          <%= form.submit 'Ok', class: 'btn btn-primary join-item' %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
