<div class="px-5">
  <div class="navbar bg-gray-200 shadow-sm border-b border-gray-300">
    <div class="navbar-start justify-between">
      <h1 class="xl:text-2xl text-xl text-center text-primary"><%= title %></h1>

      <%= form_with url: representatives_path, method: :get do |f| %>
        <div class="flex">
          <label class="join input input-bordered w-96 rounded-full items-center">
            <span class="material-symbols-outlined mr-2">search</span>

            <%= f.text_field :query, value: params[:query], placeholder: "ID, Representante e Número" %>
          </label>

          <%= f.submit "OK", class: "btn btn-primary rounded-r-full -ml-14" %>
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <fieldset class="fieldset border border-primary p-2 rounded-box">
        <legend class="fieldset-legend text-primary">Com os itens ativos ...</legend>

        <div class="join border border-primary join-item rounded-r-full">
          <%= form_with url: select_representatives_path, method: :get, local: true do |form| %>
            <%= form.select :select_action, options_for_select(@select), {}, class: 'select' %>
            <%= form.submit 'Ok', class: 'btn btn-primary join-item' %>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
</div>
