<td colspan="8" class="p-5">
  <div class="card border border-primary <%= index % 2 == 0 ? "bg-gray-200" : "bg-gray-100" %>">
    <div class="m-5">
      <h1 class="text-xl font-normal text-center text-primary mb-4">Contas Corrente</h1>

      <table class="table-auto w-full text-sm font-semibold text-center">
        <thead class="text-base">
          <tr>
            <th>Banco</th>
            <th>Agencia</th>
            <th>Conta</th>
            <th>Favorecido</th>
            <th>Ações</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% representative.current_accounts.each do |current_account| %>
            <tr class="bg-white border">
              <td><%= current_account.bank.name %></td>
              <td><%= current_account.bank.agency_number %></td>
              <td><%= current_account.bank.account_number %></td>
              <td><%= current_account.favored %></td>

              <td class="flex justify-center gap-2">
                <button onclick="document.getElementById('edit_current_account_representative<%= current_account.id %>').showModal();" title="Editar Conta">
                  <span class="material-symbols-outlined text-primary">edit</span>
                </button>

                <dialog id="edit_current_account_representative<%= current_account.id %>" class="modal place-items-center">
                  <%= render ModalComponent.new(form: render("current_accounts/form", current_account: current_account, representatives: @representatives, title: "Editar Conta Corrente : #{current_account.id}", btn_save: "Atualizar", route_name: "representative")) %>
                </dialog>

                <%= link_to current_account_path(current_account),
                    data: { turbo_confirm: "Não se esqueça que existe a opção de DESATIVAR esta conta, tem certeza que deseja remover definitivamente esta conta corrente?", turbo_method: :delete },
                    title: "Apagar definitivamente" do %>
                  <span class="material-symbols-outlined text-primary">delete</span>
                <% end %>

                <% if current_account.standard? %>
                  <%= link_to change_standard_current_accounts_path(id: current_account, type: "desactive"), data: { turbo_method: :post } do %>
                    <span class="material-symbols-outlined text-primary" title="Desabilitar">visibility</span>
                  <% end %>
                <% else %>
                  <%= link_to change_standard_current_accounts_path(id: current_account, type: "active"), data: { turbo_method: :post } do %>
                    <span class="material-symbols-outlined text-primary" title="Habilitar">visibility_off</span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</td>
