<%= turbo_frame_tag 'form_representative' do %>
  <%= form_with model: representative, url: representative.persisted? ? representative_path(representative) : representatives_path do |f| %>
    <h3 class="text-lg font-bold"><%= title %></h3>
    <hr class="left-0 absolute w-full mt-5 border-black">

    <section class="p-6 md:max-w-4xl">
      <div class="grid grid-cols-1 my-2">
        <%= render TextFieldComponent.new(form: f, field_name: :name, label: "Nome", error_message: representative.errors.messages[:representative]) %>
        <%= render SelectFieldComponent.new(form: f, field_name: :branch_id, label: "Filial", options: branches, error_message: representative.errors.messages[:branch_id]) %>
        <%= render TextFieldComponent.new(form: f, field_name: :partnership, label: "Parceria %", error_message: representative.errors.messages[:partnership]) %>
        <%= render CheckboxFieldComponent.new(form: f, field_name: :performs_closing, label: "Efetua Fechamento", error_message: representative.errors.messages[:performs_closing]) %>
      </div>

      <hr class="left-0 absolute w-full mt-5 border-black">

      <%= render ButtonComponent.new(form: f, label: btn_save) %>
    </section>
  <% end %>
<% end %>
