<section class="flex flex-col p-5">
  <div class="card shadow-lg border border-primary p-5">
    <%= render "shared/label_of", representative: representative, closing: closing, title: title %>

    <%= render "summary", monthly_reports: summary[:monthly_summary][:monthly_reports],
        accumulated: summary[:monthly_summary][:accumulated]
    %>

    <%= render "totals_by_bank", banks: summary[:banks] %>
    <%= render "totals_by_store", stores: summary[:stores] %>
    <%= render "note_division", cashes: summary[:cashes] %>
  </div>
</section>
