<section class="flex flex-col p-5">
  <div class="card shadow-lg border border-primary p-5">
    <%= render "shared/label_of", representative: representative, closing: closing, title: title %>
    <%= render "summary", monthly_reports: monthly_reports, accumulated: accumulated %>
    
    <%= render "totals_by_bank", banks: totals_by_bank %>
    <%= render "totals_by_store", stores: totals_by_store %>
    <%= render "note_division", cashes: total_in_cash %>
  </div>
</section>
