<ul class="menu rounded-box lg:overflow-x-auto">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <div class="overflow-hidden my-2">
        <table class="xl:table-auto lg:table-sm xl:w-full text-center">
          <thead class="text-base">
            <tr>
              <th>ID</th>
              <th>Prescritor</th>
              <th>Quantidade</th>
              <th>Total</th>
              <th>Parceria</th>
              <th>Descontos</th>
              <th>Valor Disponivel</th>
              <th>Tipo</th>
              <th>Número Envelope</th>
            </tr>
          </thead>

          <tbody>
            <% prescribers.each do |prescriber| %>
              <tr class="bg-gray-200 border-t border-b border-black h-8">
                <td><%= prescriber.id %></td>

                <td>
                  <%= link_to prescriber.name,
                      patient_listing_prescriber_path(prescriber), class: "text-primary"
                  %>
                </td>

                <td class="text-center"><%= prescriber.quantity %></td>
                <td><%= number_to_currency(prescriber.price) %></td>
                <td><%= number_to_currency(prescriber.partnership) %></td>
                <td><%= number_to_currency(prescriber.discounts) %></td>
                <td><%= number_to_currency(prescriber.available_value) %></td>
                <td><%= prescriber.kind %></td>
                <td><%= prescriber.envelope_number %></td>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <thead>
              <tr>
                <th class="font-semibold text-base pt-10">Quantidade</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= totals[:count] %></td>
                <td class="font-semibold text-base">Total Geral</td>
                <td class="text-center"><%= totals[:quantity] %></td>
                <td><%= number_to_currency(totals[:price]) %></td>
                <td><%= number_to_currency(totals[:partnership]) %></td>
                <td><%= number_to_currency(totals[:discounts]) %></td>
                <td><%= number_to_currency(totals[:available_value]) %></td>
              </tr>

              <tr>
                <td><%= totals[:accumulated][:count] %></td>
                <td class="font-semibold text-base">Acumulados</td>
                <td class="text-center"><%= totals[:accumulated][:quantity] %></td>
                <td><%= number_to_currency(totals[:accumulated][:price]) %></td>
                <td><%= number_to_currency(totals[:accumulated][:partnership]) %></td>
                <td><%= number_to_currency(totals[:accumulated][:discounts]) %></td>
                <td><%= number_to_currency(totals[:accumulated][:available_value]) %></td>
              </tr>

              <tr>
                <td><%= totals[:real_sale][:count] %></td>
                <td class="font-semibold text-base">Venda Real</td>
                <td class="text-center"><%= totals[:real_sale][:quantity] %></td>
                <td><%= number_to_currency(totals[:real_sale][:price]) %></td>
                <td><%= number_to_currency(totals[:real_sale][:partnership]) %></td>
                <td><%= number_to_currency(totals[:real_sale][:discounts]) %></td>
                <td><%= number_to_currency(totals[:real_sale][:available_value]) %></td>
              </tr>
            </tbody>
          </tfoot>
        </table>
      </div>
    </ul>
  </li>
</ul>
