<ul class="menu rounded-box">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <div class="overflow-hidden my-2">
        <table class="table-auto w-full text-center">
          <thead class="text-base">
            <tr>
              <th>ID</th>
              <th>Prescritor</th>
              <th>Quantidade</th>
              <th>Total</th>
              <th>Parceria</th>
              <th>Descontos</th>
              <th>Valor Disponivel</th>
              <th>Tipo</th>
              <th>Número Envelope</th>
            </tr>
          </thead>

          <tbody>
            <% monthly_reports.each do |monthly_report| %>
              <tr class="bg-gray-200 border-t border-b border-black h-8">
                <td><%= monthly_report.prescriber.id %></td>

                <td>
                  <%= link_to monthly_report.prescriber.name,
                      patient_listing_prescriber_path(monthly_report.prescriber), class: "text-primary"
                  %>
                </td>

                <td class="text-center"><%= monthly_report.quantity %></td>
                <td><%= number_to_currency(monthly_report.total_price) %></td>
                <td><%= number_to_currency(monthly_report.partnership) %></td>
                <td><%= number_to_currency(monthly_report.discounts) %></td>
                <td><%= number_to_currency(monthly_report.available_value) %></td>
                <td><%= payment_method_display(monthly_report) %></td>
                <td><%= monthly_report.envelope_number.to_s.rjust(6, "0") %></td>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <thead>
              <tr>
                <th class="font-semibold text-base pt-10">Quantidade</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= totals[:grand_total][:count] %></td>
                <td class="font-semibold text-base">Total Geral</td>
                <td class="text-center"><%= totals[:grand_total][:quantity] %></td>
                <td><%= totals[:grand_total][:total_price] %></td>
                <td><%= totals[:grand_total][:partnership] %></td>
                <td><%= totals[:grand_total][:discounts] %></td>
                <td><%= totals[:grand_total][:available_value] %></td>
              </tr>

              <tr>
                <td><%= totals[:accumulated][:count] %></td>
                <td class="font-semibold text-base">Acumulados</td>
                <td class="text-center"><%= totals[:accumulated][:quantity] %></td>
                <td><%= totals[:accumulated][:total_price] %></td>
                <td><%= totals[:accumulated][:partnership] %></td>
                <td><%= totals[:accumulated][:discounts] %></td>
                <td><%= totals[:accumulated][:available_value] %></td>
              </tr>

              <tr>
                <td><%= totals[:real_sale][:count] %></td>
                <td class="font-semibold text-base">Venda Real</td>
                <td class="text-center"><%= totals[:real_sale][:quantity] %></td>
                <td><%= totals[:real_sale][:total_price] %></td>
                <td><%= totals[:real_sale][:partnership] %></td>
                <td><%= totals[:real_sale][:discounts] %></td>
                <td><%= totals[:real_sale][:available_value] %></td>
              </tr>
            </tbody>
          </tfoot>
        </table>
      </div>
    </ul>
  </li>
</ul>
