<div class="card border border-primary p-5 my-2">
  <label class="text-lg">
    <span class="text-primary"><%= representative_name.upcase %> </span> -
    <span><%= current_closing.end_date.strftime("%d/%m/%Y") %></span>
    <span class="text-primary ml-12"><%= closing %></span>
  </label>

  <% prescribers.each do |prescriber| %>
    <label class="text-lg my-5">
      <%= prescriber.envelope_number %>
      <span class="text-red-500"><%= "- (ESP)" unless prescriber.current_accounts.present? %>
    </label>

    <ul class="menu rounded-box">
      <li>
        <ul class="border-l-2 border-primary border-b-2">
          <div class="overflow-hidden">
            <table class="table-auto w-full">
              <thead class="text-base">
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Informações</th>
                  <th>Observação</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><%= prescriber.id %></td>
                  <td><%= prescriber.name %></td>

                  <td>
                    <p><%= prescriber&.full_address %></p>
                    <p><%= prescriber.full_contact %></p>
                    <p><%= prescriber.secretary %></p>
                  </td>

                  <td>OBS: <%= truncate(prescriber.note, length: 50) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
