<ul class="menu rounded-box my-5">
  <label class="font-semibold text-xl text-primary">Totais por Loja</label>

  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <table class="xl:table-auto lg:table-xs w-full">
        <thead class="xl:text-base lg:text-sm">
          <tr>
            <th>Quantidade</th>
            <th>Loja</th>
            <th>Valor</th>
          </tr>
        </thead>

        <tbody>
          <% stores.each do |store| %>
            <tr class="bg-gray-200 border-t border-b border-black h-8">
              <td><%= store.count %></td>
              <td><%= store.branch_name %></td>
              <td><%= number_to_currency(store.total) %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <thead>
            <tr>
              <th colspan="2" class="font-semibold text-base pt-10">Total de Lojas</th>
              <th class="font-semibold text-base pt-10">Total</th>
            </tr>
          </thead>

          <tbody>
            <tr class="bg-gray-200 border-t border-b border-black h-8">
              <th colspan="2"><%= totals_from_stores[:total_count] %></th>
              <th><%= number_to_currency(totals_from_stores[:total_price]) %></th>
            </tr>
          </tbody>
        </tfoot>
      </table>
    </ul>
  </li>
</ul>
