<%= render "actions" %>

<div class="flex flex-col">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold text-center">
      <thead class="text-base">
        <tr>
          <th><input type="checkbox" class="checkbox checkbox-primary" /></th>
          <th>ID</th>
          <th>Representante</th>
          <th>Número</th>
          <th>Filial</th>
          <th>Parceria</th>
          <th>Ações</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @representatives.each_with_index do |representative, index| %>
          <tr class="border-t border-black items-center <%= index % 2 == 0 ? "bg-gray-200" : "bg-gray-100" %>">
            <td><input type="checkbox" class="checkbox checkbox-primary" /></td>
            <td><%= representative.id %></td>
            <td><%= representative.name %></td>
            <td><%= representative.branch.branch_number.to_s.rjust(3, '0') %></td>
            <td><%= representative.branch.name %></td>
            <td><%= representative.partnership %> %</td>

            <td class="flex-1">
              <button onclick="document.getElementById('edit_representative<%= representative.id %>').showModal();" title="Editar">
                <span class="material-symbols-outlined text-primary">edit</span>
              </button>

              <dialog id="edit_representative<%= representative.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("form", representative: representative, branches: @branches, title: "Editar Representante : #{representative.id}", btn_save: "Atualizar")) %>
              </dialog>

              <button onclick="document.getElementById('description_representative<%= representative.id %>').showModal();" title="Resumo">
                <span class="material-symbols-outlined text-primary">description</span>
              </button>

              <button onclick="document.getElementById('list_representative<%= representative.id %>').showModal();" title="Listagem">
                <span class="material-symbols-outlined text-primary">list_alt</span>
              </button>

              <button onclick="document.getElementById('content_paste_representative<%= representative.id %>').showModal();" title="Lista Resumida">
                <span class="material-symbols-outlined text-primary">content_paste</span>
              </button>

              <button onclick="document.getElementById('home_representative<%= representative.id %>').showModal();" title="Endereço">
                <span class="material-symbols-outlined text-primary">home</span>
              </button>

              <button onclick="document.getElementById('account_balance_representative<%= representative.id %>').showModal();" title="Adicionar nova Conta Corrente">
                <span class="material-symbols-outlined text-primary">account_balance</span>
              </button>

              <dialog id="account_balance_representative<%= representative.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("current_accounts/form", representative: representative, current_account: @current_account, representatives: @representatives_map, title: "Criar Nova Conta Corrente", btn_save: "Salvar", route_name: "representative")) %>
              </dialog>
            </td>

            <td class="cursor-pointer" data-controller="toggle" data-action="click->toggle#tableTr" data-tr-id="representative_tr_hidden_<%= index %>">
              <details class="collapse collapse-arrow -top-1 h-12 flex justify-center items-center">
                <summary class="collapse-title font-semibold"></summary>
              </details>
            </td>
          </tr>

          <tr class="hidden bg-white" id="representative_tr_hidden_<%= index %>">
            <%= render "current_accounts", representative: representative, representatives: @representatives_map, index: index %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center mb-24">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
