<section class="flex flex-col gap-5 p-5 mb-20">
  <% @representatives.each do |representative| %>
    <div class="grid grid-cols-12 mx-10">
      <div class="col-start-1 col-end-11">
        <h1 class="text-2xl font-bold text-primary text-center">Resumo</h1>
      </div>

      <div class="col-start-12">
        <%= link_to "Download PDF",
            download_pdf_representative_path(representative, kind: "monthly_report"),
            target: "_blank", class: "btn btn-primary w-36"
        %>
      </div>
    </div>

    <div class="card shadow-lg border border-primary p-5">
      <%= render "shared/label_of", representative_name: representative.name, closing: @closing, title: "Resumo de" %>
      <%= render "summary", prescribers: @prescribers[representative.id], totals: @totals[representative.id] %>
      <%= render "totals_by_bank", banks: @totals_by_bank[representative.id], totals_from_banks: @totals_from_banks[representative.id] %>
      <%= render "totals_by_store", stores: @totals_by_store[representative.id], totals_from_stores: @totals_from_stores[representative.id] %>
      <%= render "note_division", cashes: @total_in_cash[representative.id] %>
    </div>
  <% end %>
</section>
