<section class="flex flex-col gap-5 p-5 mb-20">
  <div class="flex justify-end">
    <%= link_to "Download PDF", download_pdf_representative_path(@representative), target: "_blank", class: "btn btn-primary" %>
  </div>

  <div class="card shadow-lg border border-primary p-5">
    <%= render "shared/label_of", representative: @representative, closing: @closing, title: "Resumo de" %>
    <%= render "summary", representative: @representative, monthly_reports: @monthly_reports, accumulated: @accumulated %>
    <%= render "totals_by_bank", totals_by_bank: @totals_by_bank, total_count: @total_count, total_value: @total_value %>
    <%= render "totals_by_store", totals_by_store: @totals_by_store, total_store: @total_store, total_count_store: @total_count_store %>
    <%= render "note_division", total_in_cash: @total_in_cash, total_marks: @total_marks, total_cash: @total_cash %>
  </div>
</section>
