<section class="flex flex-col gap-5 mb-20">
  <% @representatives.each do |representative| %>
    <%= render "sub_actions", representative: representative, title: "Resumo", kind: "monthly_report", filter: params[:filter] %>
    <%#= render "form_filter", url: monthly_report_representative_path(representative) %>
    
    <div class="card shadow-lg border border-primary p-5">
      <%= render "shared/label_of", representative_name: representative.name, closing: @current_closing.closing, title: "Resumo de" %>
      <%= render "summary", prescribers: @prescribers[representative.id], totals: @totals[representative.id] %>
      <%= render "totals_by_bank", banks: @totals_by_bank[representative.id], totals_from_banks: @totals_from_banks[representative.id] %>
      <%= render "totals_by_store", stores: @totals_by_store[representative.id], totals_from_stores: @totals_from_stores[representative.id] %>
      <%= render "note_division", cashes: @total_in_cash[representative.id] %>
    </div>
  <% end %>
</section>
