<section class="flex flex-col gap-5 p-5 mb-20">
  <% @monthly_reports.each do |monthly_report| %>
    <div class="card border border-primary p-5">
      <div class="overflow-hidden">
        <table class="table-auto w-full">
          <thead class="text-base text-left">
            <tr>
              <th class="text-primary"><%= @representative.name.upcase %></th>

              <th class="flex gap-16">
                <span>
                  Fechamento: <span class="text-primary"><%= @closing %></span>
                </span>
  
                <span>
                  Situação:
                  <span class="text-primary"><%= monthly_report.situation %></span>
                </span>

                <span>
                  Número do Envelope:
                  <span class="text-primary">
                    <%= monthly_report.envelope_number.to_s.rjust(5, '0') %>
                  </span>
                </span>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <ul class="menu rounded-box mb-4">
        <li>
          <ul class="border-l-2 border-primary">
            <% monthly_report.requests.each do |request| %>
              <div class="overflow-hidden my-2">
                <table class="table w-full">
                  <tfoot>
                    <thead>
                      <tr>
                        <th class="font-semibold text-base">Paciente</th>
                        <th class="font-semibold text-base">Repetida</th>
                        <th class="font-semibold text-base">Data de Entrada</th>
                        <th class="font-semibold text-base">Data de Pagamento</th>
                        <th class="font-semibold text-base">Valor Recebido</th>
                        <th class="font-semibold text-base">Filial</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr class="bg-gray-200 border-t border-b border-black">
                        <td><%= request.patient_name.present? ? request.patient_name : "Sem Nome" %></td>
                        <td><%= request.repeat ? "-R" : "" %></td>
                        <td><%= request.entry_date.strftime("%d/%m/%y") %></td>
                        <td><%= request.set_payment_date(request) %></td>
                        <td><%= request.set_price(request) %></td>
                        <td><%= request.branch.name %></td>
                      </tr>
                    </tbody>
                  </tfoot>
                </table>
              </div>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
</section>
