<ul class="menu rounded-box">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <table class="xl:table-auto lg:table-xs w-full">
        <thead class="xl:text-base lg:text-sm">
          <tr>
            <th>Quantidade</th>
            <th>Notas</th>
            <th>Valor</th>
          </tr>
        </thead>

        <tbody>
          <% note_divisions.each do |item, cash| %>
            <tr class="bg-gray-200 border-t border-b border-black h-8">
              <td><%= cash %></td>
              <td><%= item %></td>
              <td><%= number_to_currency(cash * item) %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <thead class="xl:text-base lg:text-sm font-semibold pt-10">
            <tr>
              <th colspan="2">Total de Notas</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <tr class="bg-gray-200 border-t border-b border-black h-8">
              <td colspan="2"><%= note_divisions.values.sum %></td>
              <td><%= number_to_currency(note_divisions.sum { |key, value| key * value }) %></td>
            </tr>
          </tbody>
        </tfoot>
      </table>
    </ul>
  </li>
</ul>
