<div class="card border border-primary p-5 my-2">
  <div class="flex gap-3 font-bold">
    Representante: <span class="text-primary"><%= representative_name.upcase %></span>
    em <span class="text-primary"><%= closing %>
  </div>

  <% prescribers.each do |prescriber| %>
    <% if prescriber.present? && prescriber.envelope_number.to_s != "000000" %>
      <ul class="menu rounded-box mb-4">
        <li>
          <ul class="border-l-2 border-b-2 border-primary my-2">
            <table class="xl:table-auto lg:table-xs w-full">
              <div class="grid grid-rows-2 mb-7 gap-2 text-center border-b border-primary">
                <div class="grid grid-cols-3">
                  <span class="font-semibold text-base">Prescritor</span>
                  <span class="font-semibold text-base">Situação</span>
                  <span class="font-semibold text-base">Envelope</span>
                </div>

                <div class="grid grid-cols-3 text-primary">
                  <span><%= prescriber.name %></span>
                  <span><%= prescriber.situation %></span>
                  <span><%= prescriber.envelope_number %></span>
                </div>
              </div>

              <%= render "shared/patient/foot", prescriber: prescriber %>
            </table>
          </ul>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
