<%= turbo_frame_tag 'form_person' do %>
  <%= form_with model: person, url: person.persisted? ? person_path(person) : persons_path do |f| %>
    <h3 class="text-lg font-bold"><%= title %></h3>
    <hr class="left-0 absolute w-full mt-5 border-black">

    <section class="p-6 md:max-w-4xl">
      <div class="grid grid-cols-1 my-2">
        <%= render TextFieldComponent.new(form: f, field_name: :name, label: "Nome", error_message: person.errors.messages[:person])%>
        <%#= render TextFieldComponent.new(form: f, field_name: :start_date, type: "date", label: "Data inicial", error_message: person.errors.messages[:start_date])%>
        <%#= render TextFieldComponent.new(form: f, field_name: :end_date, type: "date", label: "Data final", error_message: person.errors.messages[:end_date])%>
        <%#= render TextFieldComponent.new(form: f, field_name: :last_envelope, type: "number", label: "Número do último envelope", error_message: person.errors.messages[:last_envelope])%>
      </div>

      <hr class="left-0 absolute w-full mt-5 border-black">

      <%= render ButtonComponent.new(form: f, label: btn_save) %>
    </section>
  <% end %>
<% end %>
