<div class="flex justify-between items-center">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de Representantes</h1>

  <fieldset class="fieldset w-96 border border-primary p-2 rounded-box">
    <legend class="fieldset-legend text-primary">Com os itens selecionados ...</legend>

    <div class="join border border-primary join-item rounded-r-full">
      <select class="select">
        <option disabled selected>Selecione uma opção</option>
        <option>Salva Listagem de Pacientes</option>
        <option>Salva Listagem de Pacientes resumida</option>
        <option>Resumido Mensal</option>
        <option>Etiquetas</option>
        <option>Relatório de Endereços</option>
      </select>

      <button class="btn btn-primary join-item">Ok</button>
    </div>
  </fieldset>
</div>

<div class="flex w-full flex-col my-4">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold text-center">
      <thead class="text-base">
        <tr>
          <th><input type="checkbox" class="checkbox checkbox-primary" /></th>
          <th>Id</th>
          <th>Representante</th>
          <th>Número</th>
          <th>Filial</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr class="border-t border-black">
            <td class="p-2">
              <input type="checkbox" class="checkbox checkbox-primary" />
            </td>

            <td><%= person.id %></td>

            <td>
              <%= link_to person.name, person_path(person.id), class: "text-primary" %>
            </td>

            <td><%= person.representative_number %></td>
            <td>Nome da filial</td>

            <td>
              <button onclick="document.getElementById('edit_person<%= person.id %>').showModal();" title="Editar" class="p-2 rounded-full">
                <span class="material-symbols-outlined text-primary">edit</span>
              </button>

              <dialog id="edit_person<%= person.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("form", person: person, title: "Editar Representante : #{person.id}", btn_save: "Atualizar")) %>
              </dialog>

              <button onclick="document.getElementById('description_person<%= person.id %>').showModal();" title="Resumo" class="p-2 rounded-full">
                <span class="material-symbols-outlined text-primary">description</span>
              </button>

              <button onclick="document.getElementById('list_person<%= person.id %>').showModal();" title="Listagem" class="p-2 rounded-full">
                <span class="material-symbols-outlined text-primary">list_alt</span>
              </button>

              <button onclick="document.getElementById('content_paste_person<%= person.id %>').showModal();" title="Lista Resumida" class="p-2 rounded-full">
                <span class="material-symbols-outlined text-primary">content_paste</span>
              </button>

              <button onclick="document.getElementById('home_person<%= person.id %>').showModal();" title="Endereço" class="p-2 rounded-full">
                <span class="material-symbols-outlined text-primary">home</span>
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

<dialog id="modal_persons_create" class="modal place-items-center">
  <%= render ModalComponent.new(form: render("form", person: @person, title: "Novo fechamento", btn_save: "Salvar"), btn_back: "Fechar sem salvar") %>
</dialog>
