<h2>(=) ... da seguinte forma</h2>
<ul class="menu rounded-box my-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <div class="overflow-hidden my-2">
        <table class="table-auto w-full">
          <thead class="text-base">
            <tr>
              <th>Destino</th>
              <th>Qt. relatorios</th>
              <th>Valor</th>
            </tr>
          </thead>

          <tbody>
            <% as_follows.each do |bank_name, monthly_reports| %>
              <tr class="bg-gray-200 border-t border-b border-black h-8">
                <td><%= bank_name.present? ? bank_name : "DINHEIRO" %></td>
                <td><%= monthly_reports.sum(&:quantity) %></td>
                <td><%= number_to_currency(monthly_reports.sum(&:available_value)) %></td>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <thead>
              <tr><th class="pt-10"></th></tr>
            </thead>

            <tbody>
              <tr class="bg-gray-200 border-t border-b border-black h-8">
                <td class="text-base font-semibold">Totais</td>
                <td><%= as_follow_total_quantity %></td>
                <td><%= number_to_currency(as_follow_total_value) %></td>
              </tr>
            </tbody>
          </tfoot>
        </table>
      </div>
    </ul>
  </li>
</ul>
