<h2>(+) Arrecadação de lojas</h2>
<ul class="menu rounded-box my-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <div class="overflow-hidden my-2">
        <table class="table-auto w-full">
          <thead class="text-base">
            <tr>
              <th>Filial</th>
              <th>Qt. receitas</th>
              <th>Valor parceria</th>
            </tr>
          </thead>

          <tbody>
            <% store_collections&.each do |report| %>
              <tr class="bg-gray-200 border-t border-b border-black h-8">
                <td><%= report[:name] %></td>
                <td><%= report[:count] %></td>
                <td><%= number_to_currency(report[:total]) %></td>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <thead>
              <tr>
                <th class="pt-10"></th>
              </tr>
            </thead>

            <tbody>
              <tr class="bg-gray-200 border-t border-b border-black h-8">
                <td class="text-base font-semibold">Totais</td>
                <td><%= store_total_count %></td>
                <td><%= number_to_currency(store_total_value) %></td>
              </tr>
            </tbody>
          </tfoot>
        </table>
      </div>
    </ul>
  </li>
</ul>
