<section class="flex flex-col gap-5 p-5 mb-20">
  <div class="card shadow-lg border border-primary p-5">
    <label class="text-lg">
      Auditoria de Fechamento de
      <span class="text-primary">
        <%= @current_closing.closing %>
      </span>
    </label>

    <h2>(+) Arrecadação de lojas</h2>
    <ul class="menu rounded-box my-5">
      <li>
        <ul class="border-l-2 border-primary">
          <div class="overflow-hidden">
            <table class="table-auto w-full">
              <thead class="text-base">
                <tr>
                  <th>Filial</th>
                  <th>Qt. receitas</th>
                  <th>Valor parceria</th>
                </tr>
              </thead>

              <tbody>
                <% @store_collections.each do |report| %>
                  <tr class="bg-gray-200 border-t border-b border-black h-8">
                    <td><%= report[:name] %></td>
                    <td><%= report[:count] %></td>
                    <td><%= number_to_currency(report[:total]) %></td>
                  </tr>
                <% end %>
              </tbody>

              <tfoot>
                <thead>
                  <tr>
                    <th class="pt-10"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="bg-gray-200 border-t border-b border-black h-8">
                    <td class="text-base font-semibold">Totais</td>
                    <td><%= @store_total_count %></td>
                    <td><%= number_to_currency(@store_total_value) %></td>
                  </tr>
                </tbody>
              </tfoot>
            </table>
          </div>
        </ul>
      </li>
    </ul>

    <h2>(-) Pagamento para representantes</h2>
    <ul class="menu rounded-box my-5">
      <li>
        <ul class="border-l-2 border-primary">
          <div class="overflow-hidden">
            <table class="table-auto w-full">
              <thead class="text-base">
                <tr>
                  <th>Representante</th>
                  <th>Qt. receitas</th>
                  <th>Valor parceria</th>
                </tr>
              </thead>

              <tbody>
                <% @payment_for_representatives.each do |monthly_report| %>
                  <tr class="bg-gray-200 border-t border-b border-black h-8">
                    <td><%= monthly_report[:name] %></td>
                    <td><%= monthly_report[:quantity] %></td>
                    <td><%= number_to_currency(monthly_report[:value]) %></td>
                  </tr>
                <% end %>
              </tbody>

              <tfoot>
                <thead>
                  <tr>
                    <th class="pt-10"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="bg-gray-200 border-t border-b border-black h-8">
                    <td class="text-base font-semibold">Totais</td>
                    <td><%= @representative_total_quantity %></td>
                    <td><%= number_to_currency(@representative_total_value) %></td>
                  </tr>
                </tbody>
              </tfoot>
            </table>
          </div>
        </ul>
      </li>
    </ul>

    <h2>... da seguinte forma</h2>
    <ul class="menu rounded-box my-5">
      <li>
        <ul class="border-l-2 border-primary">
          <div class="overflow-hidden">
            <table class="table-auto w-full">
              <thead class="text-base">
                <tr>
                  <th>Destino</th>
                  <th>Qt. relatorios</th>
                  <th>Valor</th>
                </tr>
              </thead>

              <tbody>
                <% @as_follows.each do |as_follow| %>
                  <tr class="bg-gray-200 border-t border-b border-black h-8">
                    <td><%= as_follow[:name].present? ? as_follow[:name] : "DINHEIRO" %></td>
                    <td><%= as_follow[:count] %></td>
                    <td><%= number_to_currency(as_follow[:value]) %></td>
                  </tr>
                <% end %>
              </tbody>

              <tfoot>
                <thead>
                  <tr>
                    <th class="pt-10"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="bg-gray-200 border-t border-b border-black h-8">
                    <td class="text-base font-semibold">Totais</td>
                    <td><%= @as_follow_total_count %></td>
                    <td><%= number_to_currency(@as_follow_value) %></td>
                  </tr>
                </tbody>
              </tfoot>
            </table>
          </div>
        </ul>
      </li>
    </ul>

    <p><b>Obs.:</b> não estão computados nestes depósitos a comissão sobre vendas para representantes.</p>
  </div>
</section>
