<section class="flex flex-col gap-5 p-5 mb-20">
  <div class="grid grid-cols-12 mx-10">
    <div class="col-start-1 col-end-11">
      <h1 class="text-2xl font-bold text-primary text-center">Auditoria de Fechamento</h1>
    </div>

    <div class="col-start-12">
      <%= link_to "Download PDF", download_pdf_closings_path(kind: "closing_audit"),
          target: "_blank", class: "btn btn-primary w-36"
      %>
    </div>
  </div>

  <div class="card shadow-lg border border-primary p-5">
    <label class="text-lg">
      Auditoria de Fechamento de
      <span class="text-primary"><%= @current_month %></span>
    </label>

    <%= render "store_collection", store_collections: @store_collections, store_total_quantity: @store_total_quantity, store_total_value: @store_total_value %>
    <%= render "payment_for_representative", payments: @payments, total_quantity: @total_quantity, total_value: @total_value %>
    <%= render "as_follow", as_follows: @as_follows, as_follow_total_quantity: @as_follow_total_quantity, as_follow_total_value: @as_follow_total_value %>

    <p><b>Obs.:</b> n찾o est찾o computados nestes dep처sitos a comiss찾o sobre vendas para representantes.</p>
  </div>
</section>
