<section class="flex flex-col p-5 mb-20">
  <div class="grid grid-cols-12 mx-10 mb-10">
    <div class="col-start-1 col-end-11">
      <h1 class="text-2xl font-bold text-primary text-center">Depósitos em bancos</h1>
    </div>

    <div class="col-start-12">
      <%= link_to "Download PDF", download_pdf_closings_path(kind: "deposits_in_banks"),
          target: "_blank", class: "btn btn-primary w-36"
      %>
    </div>
  </div>

  <% @banks&.each do |bank| %>
    <div class="card shadow-lg border border-primary p-5 mb-5">
      <label class="text-lg">
        <span class="text-primary">
          <%= bank[:name] %>
        </span>
      </label>

      <ul class="menu rounded-box">
        <li>
          <ul class="border-l-2 border-b-2 border-primary">
            <div class="overflow-hidden my-2">
              <table class="table-auto w-full">
                <thead class="text-base">
                  <tr>
                    <th>Representante ID</th>
                    <th>Agência</th>
                    <th>Conta</th>
                    <th>Favorecido</th>
                    <th>Valor Disponivel</th>
                    <th>Representante</th>
                  </tr>
                </thead>

                <tbody>
                  <% bank[:accounts].each do |current_account| %>
                    <tr class="bg-gray-200 border-t border-b border-black h-8">
                      <td><%= current_account.prescriber_id %></td>
                      <td><%= current_account.bank.agency_number %></td>
                      <td><%= current_account.bank.account_number %></td>
                      <td><%= current_account.favored %></td>
                      <td><%= set_total_value(current_account) %></td>
                      <td><%= current_account.prescriber&.representative&.name || "Unipharmus" %></td>
                    </tr>
                  <% end %>
                </tbody>

                <tfoot>
                  <thead>
                    <tr><th class="pt-10"></th></tr>
                  </thead>

                  <tbody>
                    <tr class="bg-gray-200 border-t border-b border-black h-8">
                      <td colspan="4" class="text-base font-semibold">Total</td>
                      <td colspan="2"><%= set_grand_total_value(bank[:accounts]) %></td>
                    </tr>
                  </tbody>
                </tfoot>
              </table>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
</section>
