<div class="flex justify-between items-center my-3">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de fechamentos e relatórios</h1>

  <button class="btn btn-primary" onclick="modal_closing_create.showModal()">
    Novo fechamento
  </button>
</div>

<div class="flex w-full flex-col my-12 md:my-16">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold">
      <thead class="text-base">
        <tr>
          <th>Fechamento</th>
          <th>Data inicial</th>
          <th>Data final</th>
          <th>Último envelope</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @closings.each do |closing| %>
          <tr class="border-t border-black">
            <td>
              <%= link_to closing.closing, modify_for_this_closure_closings_path(id: closing.id),
                  data: { turbo_confirm: "Tem certeza que deseja passar a trabalhar com um novo fechamento?", turbo_method: :post },
                  class: "text-primary"
              %>
            </td>

            <td><%= closing.start_date.strftime("%d/%m/%Y") %></td>
            <td><%= closing.end_date.strftime("%d/%m/%Y") %></td>
            <td><%= closing.last_envelope.to_s.rjust(6, '0') %></td>

            <td>
              <button onclick="document.getElementById('edit_closing<%= closing.id %>').showModal();" title="Editar" class="p-2 rounded-full">
                <span class="material-symbols-outlined">edit</span>
              </button>

              <dialog id="edit_closing<%= closing.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("form", closing: closing, title: "Editar fechamento", btn_save: "Atualizar")) %>
              </dialog>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

<dialog id="modal_closing_create" class="modal place-items-center">
  <%= render ModalComponent.new(form: render("form", closing: @closing, title: "Novo fechamento", btn_save: "Salvar"), btn_back: "Fechar sem salvar") %>
</dialog>
