
<% @note_divisions.each do |representative, note_divisions| %>
  <section class="flex flex-col gap-5 p-5 mb-20">
    <div class="card shadow-lg border border-primary p-5">
      <label class="text-lg">
        <span class="text-primary">
          <%= representative.upcase %>
        </span>
      </label>

      <ul class="menu rounded-box">
        <li>
          <ul class="border-l-2 border-primary">
            <div class="overflow-hidden">
              <table class="table-auto w-full">
                <thead class="text-base">
                  <tr>
                    <th>Quantidade</th>
                    <th>Notas</th>
                    <th>Valor</th>
                  </tr>
                </thead>

                <tbody>
                  <% note_divisions.each do |note| %>
                    <tr class="bg-gray-200 border-t border-b border-black h-8">
                      <td><%= note[1] %></td>
                      <td><%= note[0] %></td>
                      <td><%= number_to_currency(note[1] * note[0]) %></td>
                    </tr>
                  <% end %>
                </tbody>

                <tfoot>
                  <thead>
                    <tr>
                      <th colspan="2" class="font-semibold text-base pt-10">Total de Notas</th>
                      <th class="font-semibold text-base pt-10">Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td colspan="2"><%= @total_marks %></td>
                      <td><%= number_to_currency(@total_cash) %></td>
                    </tr>
                  </tbody>
                </tfoot>
              </table>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </section>
<% end %>
