<div class="card border border-primary p-5 my-2">
  <div class="flex mb-5 gap-3 font-bold">
    <span class="text-primary"><%= representative_name&.upcase || "Sem Representante" %></span>
    em <span class="text-primary"><%= closing %></span>
  </div>

  <% monthly_reports.each do |monthly_report| %>
    <ul class="menu rounded-box mb-4">
      <li>
        <ul class="border-l-2 border-b-2 border-primary">
          <div class="overflow-hidden mb-10">
            <table class="table-auto w-full">
              <thead>
                <tr>
                  <th class="font-semibold text-base">Pacientes</th>
                  <th class="font-semibold text-base">Repetida</th>
                  <th class="font-semibold text-base">Data de Entrada</th>
                  <th class="font-semibold text-base">Data de Pagamento</th>
                  <th class="font-semibold text-base">Valor Recebido</th>
                  <th class="font-semibold text-base">Requisição ID</th>
                  <th class="font-semibold text-base">Filial</th>
                </tr>
              </thead>

              <tbody>
                <div class="grid grid-rows-2 mb-7 gap-2 text-center border-b border-primary">
                  <div class="grid grid-cols-2">
                    <span class="font-semibold text-base">Situação</span>
                    <span class="font-semibold text-base">Envelope</span>
                  </div>

                  <div class="grid grid-cols-2 text-primary">
                    <span><%= monthly_report.situation %></span>
                    <span><%= monthly_report.number_envelope %></span>
                  </div>
                </div>

                <% monthly_report.prescriber.requests.order("patient_name ASC").each do |request| %>
                  <tr class="bg-gray-200 border-t border-b border-black h-10">
                    <td><%= request.patient_name || "Sem Nome" %></td>
                    <td><%= request.repeat ? "-R" : "" %></td>
                    <td><%= request.entry_date.strftime("%d/%m/%y") %></td>
                    <td><%= request.set_payment_date(request) %></td>
                    <td><%= request.set_price(request) %></td>
                    <td><%= request.nrreq_id %></td>
                    <td><%= request.branch.name %></td>
                  </tr>
                <% end %>
              </tbody>

              <%= render "shared/patient/foot", monthly_report: monthly_report %>
            </table>
          </div>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
