<div class="flex justify-between items-center my-3">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de descontos</h1>
</div>

<div class="flex w-full flex-col my-12 px-5">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold text-center">
      <thead class="text-base">
        <tr>
          <th>Visivel</th>
          <th>Filial</th>
          <th>Valor</th>
          <th>Criado em</th>
          <th>Atualizado em</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @discounts.each_with_index do |discount, index| %>
          <tr class="border-t border-black <%= index % 2 == 0 ? "bg-gray-200" : "bg-gray-100" %> h-10">
            <td><%= t("view.toggle.#{discount.visible}") %></td>
            <td><%= discount.branch.name %></td>
            <td><%= number_to_currency(discount.price) %></td>
            <td><%= discount.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= discount.updated_at.strftime("%d/%m/%Y") %></td>
            <td><%= discount.description %></td>

            <td>
              <button onclick="document.getElementById('edit_discount<%= discount.id %>').showModal();" title="Editar">
                <span class="material-symbols-outlined text-primary">edit</span>
              </button>

              <dialog id="edit_discount<%= discount.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("form", discount: discount, title: "Editar Desconto : #{discount.id}", branches: @branches, prescriber: discount.prescriber, btn_save: "Atualizar", route: "discount")) %>
              </dialog>

              <%= link_to discount_path(discount, route: "discount"),
                  data: { turbo_confirm: "Tem certeza que deseja apagar?", turbo_method: :delete },
                  title: "Apagar" do %>
                <span class="material-symbols-outlined text-primary">delete</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render PaginationComponent.new(pagy: pagy_nav(@pagy), pages: @pagy.pages) %>
</div>
