<label class="menu-title flex place-items-center text-lg text-primary">
  Informações Adicionais
</label>

<ul class="menu rounded-box">
  <li>
    <ul class="border-l-2 border-primary">
      <div class="overflow-x-auto">
        <table class="table">
          <thead class="text-base">
            <tr>
              <th>Parceria</th>
              <th>Repetições</th>
              <th>Desconto</th>
              <th>Considera desconto de até</th>
              <th>Secretaria</th>
              <th>Observação</th>
            </tr>
          </thead>

          <tbody>
            <tr class="bg-gray-200">
              <td><%= prescriber.partnership %> %</td>
              <td><%= prescriber.repetitions %> %</td>
              <td><%= prescriber.percentage_discount %> %</td>
              <td><%= prescriber.consider_discount_of_up_to %> %</td>
              <td><%= prescriber.secretary %></td>
              <td><%= prescriber.note %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ul>
  </li>
</ul>
