<label class="menu-title flex place-items-center xl:text-lg lg:text-base text-primary">
  Informações Adicionais
</label>

<ul class="menu rounded-box overflow-x-auto">
  <li>
    <ul class="border-l-2 border-primary">
      <table class="table xl:text-sm lg:text-xs font-semibold">
        <thead class="xl:text-base lg:text-sm">
          <tr>
            <th>Parceria</th>
            <th>Repetições</th>
            <th>Desconto</th>
            <th>Considera desconto de até</th>
            <th>Secretaria</th>
            <th>Observação</th>
          </tr>
        </thead>

        <tbody>
          <tr class="bg-gray-200">
            <td><%= formatted_percentage(prescriber.partnership) %></td>
            <td><%= formatted_percentage(prescriber.repetitions) %></td>
            <td><%= formatted_percentage(prescriber.percentage_discount) %></td>
            <td><%= formatted_percentage(prescriber.consider_discount_of_up_to) %></td>
            <td><%= prescriber.secretary %></td>
            <td><%= prescriber.note %></td>
          </tr>
        </tbody>
      </table>
    </ul>
  </li>
</ul>
