<input type="checkbox" id="discounts-collapse" class="sr-only" />
<label for="discounts-collapse" class="collapse-title menu-title flex place-items-center text-lg text-primary cursor-pointer">
  Descontos
</label>

<ul class="collapse-content menu rounded-box">
  <li>
    <ul class="border-l-2 border-primary">
      <div class="overflow-x-auto">
        <table class="table">
          <thead class="text-base">
            <tr>
              <th>Visivel</th>
              <th>Filial</th>
              <th>Valor</th>
              <th>Criado em</th>
              <th>Atualizado em</th>
              <th>Descrição</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody>
            <% discounts.each_with_index do |discount, index| %>
              <tr class="<%= index.even? ? 'bg-gray-200' : 'bg-gray-100' %>">
                <td><%= t("view.toggle.#{discount.visible}") %></td>
                <td><%= discount.branch.name %></td>
                <td><%= number_to_currency(discount.price) %></td>
                <td><%= discount.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= discount.updated_at.strftime("%d/%m/%Y") %></td>
                <td><%= discount.description %></td>

                <td class="flex justify-center gap-2">
                  <button onclick="document.getElementById('edit_discount_representative<%= discount.id %>').showModal();" title="Editar Conta">
                    <span class="material-symbols-outlined text-primary">edit</span>
                  </button>

                  <dialog id="edit_discount_representative<%= discount.id %>" class="modal place-items-center">
                    <%= render ModalComponent.new(form: render("discounts/form", prescriber: prescriber, discount: discount, branches: branches, title: "Editar Desconto : #{discount.id}", btn_save: "Atualizar", route: "prescriber", prescriber_id: prescriber.id)) %>
                  </dialog>

                  <%= link_to discount_path(discount, route: "prescriber", prescriber_id: prescriber.id),
                      data: { turbo_confirm: "Tem certeza que deseja apagar?", turbo_method: :delete },
                      title: "Apagar definitivamente" do %>
                    <span class="material-symbols-outlined text-primary">delete</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </ul>
  </li>
</ul>
