<%= turbo_frame_tag "form_prescriber_requests" do %>
  <%= form_with model: prescriber, url: requests_prescriber_path(prescriber), data: {controller: "mask"} do |f| %>
    <h3 class="text-lg font-bold"><%= title %></h3>
    <hr class="left-0 absolute w-full border-black">

    <section class="p-6 md:max-w-4xl">
      <%= f.fields_for :requests, requests do |request_fields| %>
        <h3 class="text-lg text-left font-bold my-3">Requisição ID: <%= request_fields.object.id %></h3>

        <div class="grid grid-cols-2 gap-5">
          <%= render TextFieldComponent.new(form: request_fields, field_name: :amount_received, label: "Valor Recebido", data: { mask_target: "moneyMask" }) %>
          <%= render TextFieldComponent.new(form: request_fields, field_name: :cdfil_id, label: "cdfil_id") %>
        </div>

        <div class="grid grid-cols-2 gap-5">
          <%= render TextFieldComponent.new(form: request_fields, field_name: :payment_date, type: "date", label: "Data de Pagamento") %>
          <%= render TextFieldComponent.new(form: request_fields, field_name: :patient_name, label: "Nome do Paciente") %>
        </div>

        <hr class="left-0 absolute w-full border-black">
      <% end %>

      <%= render ButtonComponent.new(form: f, label: "Salvar") %>
    </section>
  <% end %>
<% end %>
