<div class="flex justify-between prescribers-center my-5 mb-10">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de Prescritores</h1>
</div>

<div class="flex flex-col">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold text-center">
      <thead class="text-base">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Representante</th>
          <th>Conselho</th>
          <th>Ações</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @prescribers.each_with_index do |prescriber, index| %>
          <tr class="border-t border-black <%= index % 2 == 0 ? "bg-gray-200" : "bg-gray-100" %>">
            <td><%= prescriber.id %></td>

            <td>
              <%= link_to prescriber.name, prescriber_path(prescriber), class: "text-primary" %>
            </td>

            <td><%= prescriber.representative.name %></td>

            <td>
              <%= prescriber.class_council %> -
              <%= prescriber.uf_council %> -
              <%= prescriber.number_council %>
            </td>

            <td>
              <button onclick="document.getElementById('edit_prescriber<%= prescriber.id %>').showModal();" title="Editar">
                <span class="material-symbols-outlined text-primary">edit</span>
              </button>

              <dialog id="edit_prescriber<%= prescriber.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("form", prescriber: prescriber, representatives: @representatives, title: "Editar Prescritor : #{prescriber.id}", btn_save: "Atualizar")) %>
              </dialog>

              <%= link_to prescriber_path(prescriber),
                  data: { turbo_confirm: "Tem certeza que deseja apagar o prescritor? #{prescriber.name}", turbo_method: :delete },
                  title: "Apagar definitivamente" do %>
                <span class="material-symbols-outlined text-primary">delete</span>
              <% end %>

              <%= link_to "#", data: { turbo_method: :delete }, title: "Desacumular este mês" do %>
                <span class="material-symbols-outlined text-primary">close</span>
              <% end %>

              <%= link_to "#", data: { turbo_method: :delete }, title: "Acumular este mês" do %>
                <span class="material-symbols-outlined text-primary">add</span>
              <% end %>

              <button onclick="document.getElementById('account_balance_prescriber<%= prescriber.id %>').showModal();" title="Adicionar nova Conta Corrente">
                <span class="material-symbols-outlined text-primary">account_balance</span>
              </button>

              <dialog id="account_balance_prescriber<%= prescriber.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("current_accounts/form", representative: prescriber, current_account: @current_account, representatives: @prescribers_map, title: "Criar Nova Conta Corrente", btn_save: "Salvar", route: "prescriber")) %>
              </dialog>

              <button onclick="document.getElementById('discount_prescriber<%= prescriber.id %>').showModal();" title="Novo Desconto">
                <span class="material-symbols-outlined text-primary">percent</span>
              </button>

              <dialog id="discount_prescriber<%= prescriber.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("discounts/form", discount: @discount, branches: @branches, prescriber: prescriber, title: "Novo Desconto", btn_save: "Salvar", route: "prescriber")) %>
              </dialog>
            </td>

            <td class="cursor-pointer" data-controller="toggle" data-action="click->toggle#tableTr" data-tr-id="prescriber_tr_hidden_<%= index %>_additional_information" data-tr-id2="prescriber_tr_hidden_<%= index %>_address">
              <details class="collapse collapse-arrow -top-1 h-12 flex justify-center items-center">
                <summary class="collapse-title font-semibold"></summary>
              </details>
            </td>
          </tr>

          <tr class="hidden bg-white" id="prescriber_tr_hidden_<%= index %>_additional_information">
            <td colspan="8" class="p-5">
              <%= render "additional_information", prescriber: prescriber, index: index %>
              <%= render "address", prescriber: prescriber, full_address: prescriber.full_address, address: prescriber.address, index: index %>
              <%= render "current_accounts", prescriber: prescriber, prescribers: @prescribers_map, index: index %>
              <%= render "discounts", prescriber: prescriber, branches: @branches, index: index %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center mb-24">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
