<div class="flex justify-between prescribers-center my-5 mb-10">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de Prescritores</h1>
</div>

<div class="flex flex-col">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold text-center">
      <thead class="text-base">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Representante</th>
          <th>Conselho</th>
          <th>Ações</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @prescribers.each_with_index do |prescriber, index| %>
          <tr class="border-t border-black <%= index % 2 == 0 ? "bg-gray-200" : "bg-gray-50" %>">
            <td><%= prescriber.id %></td>
            <td><%= prescriber.name %></td>
            <td><%= prescriber.representative.name %></td>

            <td>
              <%= prescriber.class_council %> -
              <%= prescriber.uf_council %> -
              <%= prescriber.number_council %>
            </td>

            <td>
              <button onclick="document.getElementById('edit_prescriber<%= prescriber.id %>').showModal();" title="Editar">
                <span class="material-symbols-outlined text-primary">edit</span>
              </button>

              <dialog id="edit_prescriber<%= prescriber.id %>" class="modal place-items-center">
                <%= render ModalComponent.new(form: render("form", prescriber: prescriber, representatives: @representatives, title: "Editar Prescritor : #{prescriber.id}", btn_save: "Atualizar")) %>
              </dialog>
            </td>

            <td class="cursor-pointer" data-controller="toggle" data-action="click->toggle#tableTr" data-tr-id="tr_hidden_<%= index %>">
              <details class="collapse collapse-arrow -top-1 h-12 flex justify-center items-center">
                <summary class="collapse-title font-semibold"></summary>
              </details>
            </td>
          </tr>

          <tr class="hidden bg-white" id="tr_hidden_<%= index %>">
            <td colspan="8">
              <section class="menu gap-2">
                <div class="join">
                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Secretaria", field_name: prescriber.secretary) %>
                  </div>

                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Parceria", field_name: prescriber.partnership) %>
                  </div>

                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Repetições", field_name: prescriber.repetitions) %>
                  </div>

                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Desconto", field_name: prescriber.percentage_ciscount) %>
                  </div>
                </div>

                <div class="join">
                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Considera desconto de até", field_name: prescriber.consider_discount_of_up_to) %>
                  </div>

                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Endereço", field_name: prescriber&.full_address) %>
                  </div>

                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Telefone1", field_name: prescriber.address.phone || "Não disponível") %>
                  </div>
                </div>

                <div class="join">
                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Telefone2", field_name: prescriber.address.cellphone || "Não disponível") %>
                  </div>

                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Fax", field_name: prescriber.address.fax || "Não disponível") %>
                  </div>

                  <div class="border border-black join-item px-4 h-[42px] text-left flex items-center w-full">
                    <%= render BoxGroupHozirontalComponent.new(label: "Observação", field_name: prescriber.note || "Não disponível") %>
                  </div>
                </div>
              </section>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
