<section class="flex flex-col w-full mt-16 px-5">
  <ul role="tablist" class="tabs tabs-lifted grid grid-cols-[1fr,1fr,1fr,1fr,1fr]">
    <li role="tab" class="tab text-center checked:[--tab-bg:darkblue] checked:bg-blue-900 checked:text-primary-content h-12 <%= 'bg-primary checked text-white' if current_page?(root_path) || current_page?(closings_path) %>">
      <%= link_to "Fechamentos e Relatórios", closings_path, class: "lg:text-base md:text-sm" %>
    </li>

    <li role="tab" class="tab text-center checked:[--tab-bg:darkblue] checked:text-primary-content h-12 <%= representative_active_tab? %>">
      <%= link_to "Representantes", representatives_path, class: "lg:text-base md:text-sm" %>
    </li>

    <li role="tab" class="tab text-center checked:[--tab-bg:darkblue] checked:text-primary-content h-12 <%= 'bg-primary checked text-white' if current_page?(prescribers_path) || (params[:action] == "show" && current_page?(prescriber_path)) %>">
      <%= link_to "Prescritores", prescribers_path, class: "lg:text-base md:text-sm" %>
    </li>

    <li role="tab" class="tab text-center checked:[--tab-bg:darkblue] checked:text-primary-content h-12 <%= 'bg-primary checked text-white' if current_page?(branches_path) %>">
      <%= link_to "Filiais", branches_path, class: "lg:text-base md:text-sm" %>
    </li>

    <li role="tab" class="tab text-center checked:[--tab-bg:darkblue] checked:text-primary-content h-12 <%= 'bg-primary checked text-white' if current_page?(discounts_path) %>">
      <%= link_to "Descontos", discounts_path, class: "lg:text-base md:text-sm" %>
    </li>
  </ul>
</section>
