<div class="fixed h-screen w-80 bg-gray-100 overflow-y-auto border-r border-gray-300">
  <ul class="menu w-80 p-5 my-16">
    <li class="menu-title text-center lg:text-xl md:text-base bg-gray-200 mb-5 font-bold">Menu</li>

    <li class="border-b border-gray-300 my-2">
      <%= link_to "Divisão de notas", "#", class: "text-primary lg:text-lg md:text-base font-semibold" %>

      <span class="lg:text-sm md:text-xs pointer-events-none">
        Imprime quantas notas serão necessárias por cada representante.
      </span>
    </li>

    <li class="border-b border-gray-300 my-2">
      <%= link_to "Executa fechamento agora", "#", class: "text-primary lg:text-lg md:text-base font-semibold" %>

      <span class="lg:text-sm md:text-xs pointer-events-none">
        Executa o fechamento nesse exato momento, fique atento para receber o email com o LOG.
      </span>
    </li>

    <li class="border-b border-gray-300 my-2">
      <%= link_to "Novo fechamento", "#", class: "text-primary lg:text-lg md:text-base font-semibold" %>

      <span class="lg:text-sm md:text-xs pointer-events-none">
        Cria novo fechamento!
      </span>
    </li>

    <li class="border-b border-gray-300 my-2">
      <%= link_to "Depósito em bancos", "#", class: "text-primary lg:text-lg md:text-base font-semibold" %>

      <span class="lg:text-sm md:text-xs pointer-events-none">
        Imprime relatórios que seguem para os bancos.
      </span>
    </li>

    <li class="border-b border-gray-300 my-2">
      <%= link_to "Auditoria de fechamento", "#", class: "text-primary lg:text-lg md:text-base font-semibold" %>

      <span class="lg:text-sm md:text-xs pointer-events-none">
        Relatório de auditoria de fechamento
      </span>
    </li>

    <li class="border-b border-gray-300 my-2">
      <%= link_to "Imprime todas as lojas", "#", class: "text-primary lg:text-lg md:text-base font-semibold" %>

      <span class="lg:text-sm md:text-xs pointer-events-none">
        Imprime o todos os relatórios de fechamento de lojas.
      </span>
    </li>
  </ul>
</div>
