<div class="fixed h-screen w-80 bg-gray-100 overflow-y-auto border-r border-gray-300">
  <ul class="menu w-80 p-5 my-16">
    <li class="menu-title text-center lg:text-xl md:text-base bg-gray-200 mb-5 font-bold">Menu</li>

    <%= render SidebarComponent.new(label: "Auditoria de fechamento", url: "#", subtitle: "Relatório de auditoria de fechamento") %>
    <%= render SidebarComponent.new(label: "Divisão de notas", url: "#", subtitle: "Imprime quantas notas serão necessárias por cada representante.") %>
    <%= render SidebarComponent.new(label: "Depósito em bancos", url: "#", subtitle: "Imprime relatórios que seguem para os bancos.") %>
    <%= render SidebarComponent.new(label: "Executa fechamento agora", url: "#", subtitle: "Executa o fechamento nesse exato momento, fique atento para receber o email com o LOG.") %>
    <%= render SidebarComponent.new(label: "Imprime todas as lojas", url: "#", subtitle: "Imprime o todos os relatórios de fechamento de lojas.") %>
    <%= render SidebarComponent.new(label: "Listagem de pacientes", url: "#", subtitle: "Listagem de pacientes referente ao fechamento de #{set_closing_date}") %>
    <%= render SidebarComponent.new(label: "Requisições", url: "#", subtitle: "Conferência de requisições referente ao fechamento de #{set_closing_date}") %>
    <%= render SidebarComponent.new(label: "Todas listagens de pacientes", url: "#", subtitle: "Gera todas as listagens de pacientes separadas em ordem de representante.") %>
    <%= render SidebarComponent.new(label: "Todos os resumidos", url: "#", subtitle: "Imprime todos os resumidos de representante.") %>
  </ul>
</div>
