<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="UniPharmus" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />

    <title>UniPharmus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap" rel="stylesheet">

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <script type="module">
      document.addEventListener("turbo:load", () => {
        const closingId = <%= @current_closing&.id || 'null' %>;
        if (closingId) {
          window.subscribeToClosing(closingId);
        }
      });
    </script>
  </head>

  <body class="bg-white">
    <div id="flash-message" data-controller="home" data-home-timeout-value="6000" class="w-full fixed z-50">
      <% flash.each do |type, message| %>
        <% daisy_class = { notice: "alert-info", success: "alert-success", error: "alert-error", alert: "alert-warning" }[type.to_sym] || "alert-info" %>

        <div role="alert" class="alert <%= daisy_class %> shadow-lg p-4 gap-2 w-[98%] text-black mx-auto mt-5">
          <span><%= message %></span>

          <div class="flex justify-end w-full">
            <button type="button" data-action="click->home#close" class="btn btn-ghost">✕</button>
          </div>
        </div>
      <% end %>
    </div>

    <%= render "shared/notification_card" %>

    <%= render 'layouts/header' unless params[:controller].include?('users/sessions') %>

    <div class="grid grid-cols-12 font-jost h-screen">
      <div class="col-start-1 col-span-2">
        <%= render 'layouts/sidebar' unless params[:controller].include?('users/sessions') %>
      </div>

      <div class="xl:col-start-3 xl:col-span-10 lg:col-start-4 lg:col-span-10 md:col-start-5 md:col-span-8 p-5">
        <%= render "layouts/navbar" unless params[:controller].include?('users/sessions') %>
        <main><%= yield %></main>
      </div>
    </div>

    <%= render 'layouts/footer' unless params[:controller].include?('users/sessions') %>
  </body>
</html>
